body {
   width: 200px;
}

.title {
   text-align: center;
   font-weight: 400;
   font-size: 1.5rem;
}

.subtitle {
   text-align: center;
   font-weight: 200;
   font-size: 1.2rem;
}

.container {
   margin-top:0.5rem;
   margin-bottom: 0.5rem;
   width: 6rem;
   margin-left: auto;
   margin-right: auto;
}

.select {
   font-size: 1.2rem;
   margin-bottom: 1rem;
}

.option {
   font-size: 1.2rem;
   font-weight: 100 !important;
   margin-top: 0.5rem;
   padding: 0.2rem;
}
